body {
    position: relative;
    margin: 0;
    /* font-family: Arial; */
    display: flex;
    background: #e0e0e0;
    overflow: hidden;
    box-sizing: border-box;
}

.emp-img {
    width: 35px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.floor {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
    overflow-y: auto;
    height: 100vh;
    background: #2980b9;
    padding: 15px;
    padding-left: 30px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sidebarbtn {
    height: 100vh;
    width: 30px;
    border: none;
    background-color: #ccc;
}

.employee-list div, .zone-content div {
    display: flex;
    align-items: center;
    background: #ccc;
    margin-top: 5px;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.green {
    background: #27ae60;
}

.red {
    background: #c0392b;
}

.orange {
    background: #e67e22;
}

.zone {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    min-height: 150px;
    position: relative;
    border: 1px solid #ddd;
}
.add-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #3498db;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
#modal-content-height {
    height: 400px;
}
.modal-content, .experience-item{
    overflow-y: auto;
    display: grid;
    gap: 10px;
    background: white;
    padding: 10px;
    width: auto;
    border-radius: 10px;
}
.experience-item{
    background: #beb8b8;
    margin-bottom: 10px;
}
input {
    height: 2em;
}

select {
    height: 2em;
}

@media screen and (max-width: 1024px) {
    .floor {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .floor {
        grid-template-columns: 1fr;
        overflow-y: auto;
        height: 100vh;
    }
    .sidebar {
        height: 100vh;
        z-index: 10;
        position: absolute;
        width: 100vw;
        padding: 0;
        padding-left: 70px;
    }
    .sidebar button {
        width: 70%;
    }
    .sidebarbtn {
        z-index: 11;
    }
    .employee-list div {
        width: 55%;
    }
}
img{
    margin-top: 10px;
    border-radius: 70px;
    border: solid 2px #0e4406;
    width: 70px;
    height: 70px;
}
.remove-emp-btn{
    background-color: #c0392b;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 15px;
}

.blob {
    background: hsla(0, 97%, 64%, 0.641);
    border-radius: 10px;
    height: fill;
    width: fill;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 131, 131, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(207, 28, 28, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(161, 53, 53, 0);
    }
}
.profile-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #3498db;
    margin-bottom: 10px;
}
.modal-content{
    height: 40vh;
    width: 320px;
    overflow: auto;
}
.close-btn {
    position: absolute;
    margin-left: 12em;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    color: #2a0d09;
    background-color: #ff5745;
    cursor: pointer;
    /* z-index: 100; */
}
.div-employee{
    cursor: pointer;
     box-shadow: 10px 10px 5px lightblue inset;
}