body {
    position: relative;
    margin: 0;
    /* font-family: Arial; */
    display: flex;
    background: #e0e0e0;
    overflow: hidden;
    box-sizing: border-box;
}

.emp-img {
    width: 35px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.floor {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
    overflow-y: auto;
    height: 100vh;
    background: #2980b9;
    padding: 15px;
    padding-left: 30px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sidebarbtn {
    height: 100vh;
    width: 30px;
    border: none;
    background-color: #ccc;
}

.employee-list div, .zone-content div {
    display: flex;
    align-items: center;
    background: #ccc;
    margin-top: 5px;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.green {
    background: #27ae60;
}

.red {
    background: #c0392b;
}

.orange {
    background: #e67e22;
}

.zone {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    min-height: 150px;
    position: relative;
    border: 1px solid #ddd;
}
.add-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #3498db;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: grid;
    justify-content: center;
    gap: 10px;
    background: white;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

input {
    height: 2em;
}

select {
    height: 2em;
}

@media screen and (max-width: 1024px) {
    .floor {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .floor {
        grid-template-columns: 1fr;
    }
    .sidebar {
        height: 100vh;
        z-index: 10;
        position: absolute;
        width: 100vw;
        padding: 0;
        padding-left: 70px;
    }
    .sidebar button {
        width: 70%;
    }
    .sidebarbtn {
        z-index: 11;
    }
    .employee-list div {
        width: 55%;
    }
}
img{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 70px;
    border: solid 2px #0e4406;
    width: 70px;
}